<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.toldpro.mempuzzle_sightwords"
    version     = "1.0" >

  <name>MemPuzzle: Sight Words</name>

  <description>
    Early Education Game to learn sight words by completing puzzles.
  </description>

  <author href="https://toldpro.com" email="admin@toldpro.com">
    Rick Love - Told
  </author>

  <!--
      If you do not want any permissions to be added to your app, add the
      following tag to your config.xml; you will still have the INTERNET
      permission on your app, which PhoneGap requires.
    -->
  <preference name="permissions" value="none"/>

  <!-- Plugins -->
  <!--<gap:plugin name="com.adobe.plugins.fastcanvas" version="1.0.1" />-->

  <icon src="Assets/Icons/icon240.png" />

</widget>